.footer {
    background: #000;
    color: #FFF;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        li {
            display: inline-block;
            margin-right: 32px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    p {
        user-select: none;
    }
}

.icons {
    color: #FFF;
    font-size: 26px;
    &:hover {
        color: #e8c554;
    }
}

#logo {
    width: 125px;
}