.footer {
    background: #000;
    color: #FFF;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer p {
    user-select: none;
}

.icons {
    color: #FFF;
    font-size: 26px;
}

.icons:hover {
    color: #e8c554;
}

#logo {
    width: 125px;
}