.botao {
    border: none;
    background-color: #000;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    margin: 32px 0;
}

.botao:hover {
    color: #ffe282;
}