.cliente {
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    .cabecalho {
        border-radius: 10px 10px 0px 0px;
        img {
            bottom: -50px;
            border-radius: 50%;
            height: 8rem;
            position: relative;
            width: 8rem;
        }
    }
    .rodape {
        background: #FFFFFF;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
        border-radius: 0px 0px 10px 10px;
        padding-top: 55px;
        padding-bottom: 40px;
        h4 {
            color: #212121;
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
            margin-bottom: 8px;
        }
        h5 {
            color: #212121;
            font-size: 14px;
            line-height: 22px;
            padding: 0 16px;
        }
    }
}